@page "/currencyrate"
@inherits CurrencyRateBase
@inject HttpClient http;
<h3>CurrencyRate</h3>

@if (CurrencyRateList == null)
{
    <div class="spinner"></div>
}
else
{
    <div>
        @foreach (var s in CurrencyRateList)
        {
            <div class="card m-3" style="min-width: 18rem; max-width:30%;">
                <div>
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Waluta</th>
                                <th scope="col">Kurs</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>@s.Code</td>
                                <td>@s.Mid</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        }
    </div>
}
