@page "/goldprice"
@inherits GoldPriceBase
@inject HttpClient http;

<style>

    #div {
        width: 100px;
        height: 100px;
        background-color: #E0FFFF;
        position: relative;
        animation-name: example;
        animation-duration: 4s;
        text-align: center;
        text-top: 50%;
        border: 6px solid orange;
        display: flex;
        justify-content: center;
        align-items: center;
    }

@@keyframes example {
  0%   {background-color:#E0FFFF; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:#E0FFFF; left:0px; top:0px;}
}
</style>

<h3>Gold Price</h3>

<div id="div"><p>@CenaZlota()</p></div>







